<nav>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <ul>
    <li class="profile-link">
      <a href="/myprofile"><img src="{{ url_for('static', filename='your-image.jpg') }}" alt="My Profile"></a>
    </li>
    <li><a href="/dashboard">Open Positions</a></li>
    <li><a href="/track">Track</a></li>
    <li><a href="/recommendations">Recommendations</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li class="logout-link"><a href="/logout">Log Out</a></li>
  </ul>
</nav>
